<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/myapp"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".DeleteShipping" android:screenOrientation="portrait"/>
        <activity android:name=".DeletePayment" android:screenOrientation="portrait" />
        <activity android:name=".viewshippingdetails" android:screenOrientation="portrait" />
        <activity android:name=".viewpaymentdetails" android:screenOrientation="portrait"/>
        <activity android:name=".viewcodedetails" android:screenOrientation="portrait" />
        <activity android:name=".ViewPaymentShipping" android:screenOrientation="portrait"/>

        <activity android:name=".ShippingDetails" android:screenOrientation="portrait"/>
        <activity android:name=".PurchaseConfirmation" android:screenOrientation="portrait" >

        </activity>
        <activity android:name=".Payment" android:screenOrientation="portrait" />
        <activity android:name=".AddCode" android:screenOrientation="portrait" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>